div{
    display: flex;
    justify-content: center;
    }

    p{
        letter-spacing: 6px;
        font-size: x-large;
        padding: 10px;
        background: black;
        color: white;
        width: wuto;
        font-family: sans-serif;
        
        }    